html{
    box-sizing: border-box;
}
*, 
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
body {
    font-family: 'Public Sans', sans-serif;
    font-family: 'DM Serif Display', serif;
    background: #EDF3F8;
}

.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.container {
    max-width: 1440px;
    padding: 0 165px;
    margin: 0 auto;
}

//global styles btn

.btn {
    font-family: 'Public Sans';
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    cursor: pointer;
    color: #FBFCFE;
    background: #BA4270;
    border: none;
    border-radius: 24px;
    &:hover {
        background: #DA6D97;
    }
    
    &:active {
        opacity: 0.5;
    }
}

@media screen and (max-width: 768px) and (min-width: 380px) {
    .container {
        padding: 0 40px;
    }
}


@media screen and (max-width: 375px) {
    .container {
        padding: 0 24px;
    }
}
