.about {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 75px;
    margin-bottom: 75px;
    background: url(../../images/desktop-about-background.png) no-repeat;
    background-position: left;
    background-size: contain;
    background: #1B262F;
    &-pavigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .about-text {
            .about-title {
                font-family: 'DM Serif Display';
                font-style: normal;
                font-weight: 400;
                font-size: 48px;
                line-height: 56px;
                letter-spacing: -0.369231px;
                color: #FBFCFE;
            }
            .about-description {
                width: 430px;
                margin: 24px 0 32px 0;
                font-family: 'Public Sans';
                font-weight: 400;
                font-size: 15px;
                line-height: 28px;
                color: #FBFCFE;
                opacity: 0.7;
            }
            .about-link {   
                padding: 16px 32px;
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 18px;
                text-align: center;
                letter-spacing: -0.115385px;
                color: #FBFCFE;
                text-decoration: none;
                border: 1px solid #FBFCFE;
                border-radius: 24px;
                &:active {
                    color: #1B262F;
                    background: #FFFFFF;
                }
            }
        }
        .about-images {
            width: 536px;
            height: 103px;
            .about-img {
                margin-right: 62px;
            }
            .browser {
                margin-bottom: 54px;
            }
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 380px) {
    .about {
        padding-top: 88px;
        padding-bottom: 88px;
        margin-top: 50px;
        margin-bottom: 50px;
        &-pavigation {
            flex-direction: column-reverse;
            .about-text {
                margin-top: 92px;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .about {
        padding-top: 80px;
        padding-bottom: 80px;
        margin-top: 40px;
        margin-bottom: 40px;
        background: url(../../images/about-media-1x.png) no-repeat;
        background-position: top;
        background-size: contain;
        background: #1B262F;
        &-pavigation {
            flex-direction: column-reverse;
            .about-text {
                margin-top: unset;
                text-align: center;
                .about-title {
                    width: 100%;
                    font-size: 32px;
                }
                .about-description {
                    width: 100%;
                    margin: 16px 0 60px 0;
                }
            }
            .about-images {
                width: 100%;
                height: 150px;
                margin-bottom: 56px;
                text-align: center;
                justify-content: center;
                .about-img {
                    margin-right: unset;
                }
                .browser {
                    margin-bottom: unset;
                }
                .social {
                    margin: 50px 0;
                }
                & > img {
                    width: 107px;
                    height: 20px;
                }
                
                & > img:nth-child(6n-2) {
                    margin-right: 40px;
                }
                & > img:nth-child(1n) {
                    margin-right: 40px;
                }
                & > img:nth-child(5n) {
                    margin-right: 40px;
                }
            }
        }
    }
}