.begin {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    &-title {
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.369231px;
        color: #36536B;
    }
    &-wrapper {
        margin-left: auto;
        .begin-input {
            width: 445px;
            padding: 16px 0 14px 27px;
            margin-left: auto;
            font-family: 'Public Sans';
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            display: block;
            background: #FBFCFE;
            box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
            border: none;
            outline: none;
            border-radius: 24px;
            color: #36536B;
            opacity: 0.5;
            cursor: pointer;
            &:active {
                box-shadow: unset;
            }
        }
        .begin-button {
            padding: 15px 25px;
            display: block;
            margin-left: auto;
            transform: translateY(-48px);
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 400px) {
    .begin {
        padding-top: 50px;
        padding-bottom: 50px;
        flex-direction: column;
        text-align: center;
        &-title {
            margin-bottom: 40px;
        }
        &-wrapper {
            margin-right: auto;
        }
    }
}

@media screen and (max-width: 375px) {
    .begin {
        padding-top: 40px;
        padding-bottom: 40px;
        flex-direction: column;
        &-title {
            font-size: 32px;
            line-height: 36px;
            margin-bottom: 40px;
            text-align: center;
        }
        &-wrapper {
            width: 100%;
            margin-right: auto;
            .begin-input {
                width: inherit;
            }
            .begin-button {
                width: inherit;
                margin-top: 16px;
                transform: unset;
            }
        }
    }
}