.header {
    padding-bottom: 75px;
    z-index: 8;
    &-img {
        background: url(../../images/header-desktop-background.png) no-repeat;
        background-position: right;
        background-size: contain;
        width: 780px;
        height: 780px;
        position: absolute;
        top: -30%;
        right: -0;
        opacity: 0.8;
    }
    .navbar  {
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        filter: drop-shadow(2px 4px 6px rgba(129, 127, 127, 0.812));
    }
    &-logo {
        margin-right: 64px;
        display: flex;
        text-decoration: none;
    }
    .nav-list {
        display: flex;
        list-style: none;
        .list-item {
            margin-right: 20px;
            .list-link {
                padding: 10px;
                font-family: 'Public Sans';
                font-weight: 700;
                font-size: 15px;
                line-height: 18px;
                color: #36536B;
                text-decoration: none;
                opacity: 0.7;
                cursor: pointer;
            }
            .list-link:active {
                color: #36536B;
                opacity: 1;
            }
        }
    }
    .menu {
        display: none;
    }
    .menu-line {
        display: none;
    }
    .nav-btn {
        padding: 15px 25px;
        margin-left: auto;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        cursor: pointer;
    }
    .hero {
        padding-top: 120px;
        display: flex;
        align-items: center;
        &-left {
            margin-right: auto;
            .hero-title {
                width: 520px;
                font-family: 'DM Serif Display';
                font-weight: 400;
                font-size: 72px;
                line-height: 72px;
                letter-spacing: -0.553846px;
                color: #36536B;
            }
            .hero-text {
                font-family: 'Publice Sans';
                font-size: 15px;
                line-height: 18px;
                display: inline-block;
                color: #6C8294;
            }
            .hero-link {
                font-family: 'Publice Sans';
                font-weight: 700;
                font-size: 15px;
                line-height: 18px;
                color: #36536B;
                text-decoration: none;
            }
            .form-wrapper {
                margin: 21px 0 16px 0;
                .form-input {
                    width: 445px;
                    padding: 16px 0 14px 27px;
                    background: #FBFCFE;
                    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
                    border: none;
                    outline: none;
                    border-radius: 24px;
                    font-family: 'Public Sans';
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 18px;
                    color: #36536B;
                    opacity: 0.5;
                    cursor: pointer;
                    &:active {
                        box-shadow: unset;
                    }
                }
                .form-button {
                    padding: 15px 25px;
                    transform: translateX(-164px);
                }
            }
        }
        .hero-right {
            transform: translate(10%, 23%);
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 650px) {
    .header {
        padding-bottom: 50px;
        z-index: 8;
        .navbar {
            filter: unset;
            z-index: 12;
        }
        &-img {
            background: url(../../images/header-media-background.png) no-repeat;
            background-position: center;
            background-size: contain;
            position: fixed;
            z-index: 8;
            top: -245px;
        }
        &-iphone {
            width: unset;
            transform: translate(10%, 75%);
        }
        .hero {
            margin-top: -50%;
            text-align: center;
            display: flex;
            flex-direction: column-reverse;
            &-left {
                margin: unset;
                margin-top: 275px;
                .hero-title {
                    margin: 0 auto;
                    font-size: 48px;
                    line-height: 56px;
                }
                .form-wrapper {
                    margin: 32px 0 16px 0;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .header {
        background: url(../../images/header-media-background.png) no-repeat;
        background-position: top;
        background-size: auto;
        &-img {
            display: none;
        }
        .navbar {
            z-index: 10;
            position: relative;
            .menu {
                width: 28px;
                height: 18px;
                margin-left: auto;
                position: relative;
                .toggle {
                    content: "";
                    width: 28px;
                    height: 3px;
                    border-radius: 3px;
                    background: #36536B;
                    position: absolute;
                    z-index: 6;
                }
                .toggle::before {
                    top: 8px;
                }
                .toggle::after {
                    bottom: 8px;
                }
            }
            .toggle--active {
                display: flex;
                align-items: center;
                .toggle:nth-child(1n) {
                    background: #f6f6f6;
                    transform: translateY(6px) rotate(45deg);
                }
                .toggle:nth-child(2n) {
                    opacity: 0;
                }
                .toggle:nth-child(3n) {
                    background: #f6f6f6;
                    transform: translateY(6px) rotate(-45deg);
                }
            }
            .toggle--active ~ .nav-list {
                display: block;
                width: 100%;
                height: 700px;
                position: absolute;
                left: 20%;
                top: 0px;
                padding-top: 30%;
                padding-left: 25%;
                background: #1B262F;
                z-index: 2;
                opacity: 0.6;
                box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
            }
            .toggle--active ~ .nav-list > .list-item {
                padding: 32px;
            }
            .toggle--active ~ .nav-btn {
                display: block;
                z-index: 4;
                width: 260px;
                position: absolute;
                left: 140px;
                bottom: -336px;
            }
            .toggle--active ~ .nav-list > .list-item > .list-link {
                font-size: 20px;
                line-height: 24px;
                color: #FBFCFE;
            }
            .toggle--active ~ .menu-line {
                display: block;
                width: 250px;
                position: absolute;
                top: 100%;
                left: 35%;
                height: 2px;
                background: #f5f6f8;
                opacity: 0.5;
            }
        }
       .nav-list, .nav-btn {
            display: none;
        }
        &-iphone {
            transform: unset;
        }
        .hero {
            padding-top: unset;
            margin: unset;
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            overflow: hidden;
            &-left {
                text-align: center;
                .hero-title {
                    width: 100%;
                    font-size: 32px;
                    line-height: 36px;
                }
                .form-wrapper {
                    width: 100%;
                    .form-input {
                        width: inherit;
                        display: block;
                    }
                    .form-button {
                        width: inherit;
                        margin-top: 16px;
                        transform: unset;
                    }
                }
            }
            .hero-right {
                transform: translate(10%, 18%);
            }
        }
    }
}