.payment {
    padding-top: 75px;
    padding-bottom: 50px;
    align-content: space-between;
    background: url(../../images/payment-background.png) no-repeat;
    background-position: top right;
    background-size: auto;
    &-top {
        display: flex;
        align-items: center;
        .payment-left {
            margin-right: auto;
            .payment-title {
                width: 445px;
                margin-bottom: 24px;
                font-family: 'DM Serif Display';
                font-style: normal;
                font-weight: 400;
                font-size: 48px;
                line-height: 56px;
                letter-spacing: -0.369231px;
                color: #36536B;
            }
            .payment-description {
                width: 445px;
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 28px;
                color: #6C8294;
            }
        }
        .payment-right {
            display: flex;
            .payment-top-img {
                margin-right: -100px;
            }
        }
    }
    &-bottom {
        margin-top: auto;
        display: flex;
        align-items: center;
        .payment-card {
            margin-right: 30px;
            align-items: center;
            text-align: center;
            justify-content: center;
            .payment-card-title {
                margin-top: 32px;
                margin-bottom: 16px;
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 25px;
                text-align: center;
                letter-spacing: -0.138462px;
                color: #36536B;
            }
            .payment-card-description {
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                text-align: center;
                letter-spacing: -0.115385px;
                color: #6C8294;
            }
        }
        .personal::before {
            content: "";
            width: 106px;
            height: 106px;
            display: inline-block;
            background: url(../../images/payment-personal.svg) no-repeat;
            background-position: center;
            background-size: contain;
        }
        .coverage::before {
            content: "";
            width: 106px;
            height: 106px;
            display: inline-block;
            background: url(../../images/payment-coverage.svg) no-repeat;
            background-position: center;
            background-size: contain;
        }
        .consumer::before {
            content: "";
            width: 106px;
            height: 106px;
            display: inline-block;
            background: url(../../images/payment-consumer.svg) no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 376px) {
    .payment {
        padding-top: 50px;
        padding-bottom: 50px;
        background: unset;
        &-top {
            flex-direction: column-reverse;
            .payment-left {
                text-align: center;
                margin: 0 auto 100px auto;
            }
            .payment-right {
                .payment-top-img {
                    margin-right: -50px;
                    height: 320px;
                }
            }
        }
        &-bottom {
            .payment-card {
                margin-right: 10px;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .payment {
        padding-top: 40px;
        padding-bottom: 40px;
        background: unset;
        &-top {
            flex-direction: column-reverse;
            .payment-left {
                width: 100%;
                text-align: center;
                margin: 0 auto 100px auto;
                .payment-title {
                    width: 100%;
                    font-size: 36px;
                    line-height: 36px;
                }
                .payment-description {
                    width: 100%;
                    line-height: 28px;
                }
            }
            .payment-right {
                width: 100%;
                .payment-top-img {
                    margin-right: -65px;
                    height: 320px;
                }
            }
        }
        &-bottom {
            flex-direction: column;
            .payment-card {
                margin-right: unset;
                margin-top: 48px;
            }
            .payment-card:first-child {
                margin-top: unset;
            }
        }
    }
}